body {
	margin:0px;
	font-family: "Comic Sans MS", "Consolas", "Arial";
}

/** Universal. */
[class*='button'] {
	color: #fff;
	text-decoration:none;
	font-family:"Comic Sans MS";
	border-radius:5px;
	cursor:pointer;
}

[class*='button']:hover {
	color: #fff;
	text-decoration:none;
	font-family:"Comic Sans MS";
	border-radius:5px;
	cursor:pointer;
}

.input_button {
	background:#5999cc;
	border:2px #5999cc solid;
	cursor:pointer;
}

.input_button:hover {
	background-color:#106cb5;
	border:2px #106cb5 solid;
}

.button {
	background:#5999cc;
	border:2px #5999cc solid;
	font-size:14px;
	padding-left:4px;
	padding-right:4px;
}

.button:hover {
	background-color:#106cb5;
	border:2px #106cb5 solid;
}

.button_register {
	background:#71dc4d;
	border:2px #71dc4d solid;
	font-size:14px;
	padding-left:4px;
	padding-right:4px;
}

.button_register:hover {
	background-color:#33cc00;
	border:2px #33cc00 solid;
}

.button_logout {
	background:#d44d4d;
	border:2px #d44d4d solid;
	font-size:14px;
	padding-left:4px;
	padding-right:4px;
}

.button_logout:hover {
	background-color:#c00000;
	border:2px #c00000 solid;
}

/** Koniec universal. */
/** ID */

#sutaz {
	position: fixed;
	right: 0;
	top: 50%;
	width: auto;
	margin: -2.5em 0 0 0;
	margin-top: -2.5em;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background: rgba(255, 0, 0, 0.5);
	color: #fff;
	display: none;
	padding: 0.5em 0.5em 0.5em 0.5em;
	box-shadow: 0 1px 3px black;
}

#sutaz strong {
	text-align:center;
}

#zaujimavosti {
	width:auto;
	margin-right:5px;
	margin-left:5px;
	margin-bottom:5px;
	margin-top:0px;
	border:2px #106cb5 solid;
	border-radius:5px;
	padding:5px;
	font-family:"Comic Sans MS";
}

#zaujimavosti table {
	width:100%;
	color:#000;
}

#zaujimavosti table tr td {
	text-align:center;
	font-size:15px;
	background:#5999cc;
	color:#fff;
}

#loginprovizor {
	background: #8CB8DC;
	height: 130px;
	width: 353px;
	float: right;
	border-radius: 5px;
	margin-right: 5px;
	margin-top: 5px;
	padding:5px;
	color:#fff;
}

#loginprovizor img {
	width:80px;
	height:76px;
	border-radius:5px;
	border:2px #106cb5 solid;
}

#provizorne {
	color: #fff;
	background: grey;
	font-size: 90%;
	height: auto;
	width: 95%;
	margin: 0 auto 23px;
	text-align: left;
	padding: 5px;
	border-radius: 5px;
}

#provizorne p:first-child {
	margin-top: 0;
}

#provizorne p:last-child {
	margin-bottom: 0;
}

#provizorne.warning {
	background: red;
}

#provizorne.notice {
	background: ligthgreen;
}

#pages {
	width:auto;
	margin-right:5px;
	margin-left:5px;
	margin-bottom:5px;
	margin-top:0px;
	border:2px #106cb5 solid;
	border-radius:5px;
	padding:5px;
	font-family:"Comic Sans MS";
}

#coako {
	width:auto;
	margin-right:5px;
	margin-left:5px;
	margin-bottom:5px;
	margin-top:0px;
	border:2px #106cb5 solid;
	border-radius:5px;
	padding:5px;
	font-family:"Comic Sans MS";
}

#coako h3 {
    margin-bottom: 7px;
    background: #106cb5;
	color:#fff;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
}

#pages table tr td {
	text-align:center;
}

#pages .playgamepp {
	background:#f54e07;
	color:#fff;
	text-decoration:none;
	border:1px solid #d64000;
	padding:5px;
	border-radius:5px;
}

#pages .playgamepp a {
	text-decoration:none;
	color:#fff;
}

#pages .playgamepp a:hover {
	background:#e64704;
	border-radius:5px;
	border:1px solid #d64000;
	color:#fff;
}

#pages .playgamefb {
	background:#eaeaea;
	color:#000;
	text-decoration:none;
	border:1px solid #dddddd;
	padding:5px;
	border-radius:5px;
}

#pages .playgamefb a {
	text-decoration:none;
	color:#000;
}

#pages .playgamefb a:hover {
	background:#4c66a4;
	border-radius:5px;
	border:1px solid #445c93;
	color:#fff;
}

#menu {
	background:#33cc00;
	color:#fff;
	font-family:"Comic Sans MS";
	padding:5px;
	height:23px;
	width: auto;
}

#menu a {
	text-decoration:none;
	color:#fff;
	padding: 2px;
}

#menu a:hover {
	background: #71dc4d;
	border-radius: 5px;
	color:#fff;
}

#header {
	height:150px;
	width:auto;
	background:#106cb5 url(http://diggyshelper.php5.sk/images/bg/logo.png) no-repeat;
}

#header h1 {
	font-size:25px;
	padding-left:450px;
	padding-top:20px;
	padding-bottom:5px;
	color:#87b5da;
	font-family:"Comic Sans MS";
	cursor:default;
}

#header h2 {
	font-size:15px;
	padding-left:450px;
	color:#87b5da;
	font-family:"Comic Sans MS";
	cursor:default;
}

#forum {
	width:auto;
	margin-right:5px;
	margin-left:5px;
	margin-bottom:5px;
	margin-top:0px;
	border:2px #106cb5 solid;
	border-radius:5px;
	padding:5px;
	font-family:"Comic Sans MS";
}

#content {
	
}

#upload {
	min-height:400px;
	width:auto;
	overflow:hidden;
	color:#fff;
	font-family:"Comic Sans MS";
	background:#106cb5 url(http://diggyshelper.php5.sk/images/bg/upload.png) no-repeat;
}

#footer {
	background:#fff url(http://diggyshelper.php5.sk/images/bg/footer.png) no-repeat;
	background-position:bottom;
	height:150px;
	width:auto;
}

#footer_right {
	float:right;
	width:126px;
	padding-right:10px;
	height:150px;
	background:url(http://diggyshelper.php5.sk/images/bg/linda.png) no-repeat;
}

#statistiky {
	width:auto;
	margin-right:5px;
	margin-left:5px;
	margin-bottom:5px;
	margin-top:0px;
	border:2px #106cb5 solid;
	border-radius:5px;
	padding:5px;
	color:#000;
	font-family:"Comic Sans MS";
}

#news {
	border-radius:5px;
	border:2px #106cb5 solid;
	margin:10px;
	font-family:"Comic Sans MS";
	padding:5px;
	min-height:20px;
}

#profilinfo {
	background:#fff;
	border:0px;
}

/** Koniec ID */
/** CLASS */

.hbox {
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.imgbox {
    border: 1px solid #eee;
    padding: 10px;
	width:auto;
    margin-bottom: 10px;
    background: #f3fbff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.memberusers {
	color:#5999cc;
	text-decoration:none;
}

.memberusers:hover {
	color:#106cb5;
	text-decoration:none;
}

.box {
	background:#87b5da;
	color:#fff;
	padding:10px;
	border-radius:5px;
	border:0px;
	margin:10px 0px;
	text-decoration:none;
}

.box:hover {
	background:#106cb5;
	color:#fff;
	padding:10px;
	border-radius:5px;
	border:0px;
	margin:10px 0px;
	text-decoration:none;
}

.naj {
	text-decoration:none;
	color:#000;
}

.jazykon {
	padding:2px;
	background:#71dc4d;
	border-radius:5px;
	color:#fff;
	margin-left:150px;
}

.jazykoff {
	padding:2px;
	background:#71dc4d;
	border-radius:5px;
	float:right;
	color:#fff;
}

.topic {
	text-decoration:none;
	color:#000;
}

.input {
	padding:2px;
	padding-left:5px;
	border:2px #106cb5 solid;
	
}

.input_login placeholder {
	color:#fff;
}

.right {
	float:right;
	padding:5px;
}

.left {
	float:left;
	padding:5px;
}

.cat_links {
	display: block;
	padding:5px;
	padding-top:10px;
	padding-bottom:10px;
	border:0px solid #000;
	margin-bottom:5px;
	background-color:#5999cc;
	border-radius:5px;
	color:#fff;
	text-decoration:none;
	text-align:left;
}

.cat_links:hover {
	background-color:#106cb5;
	text-decoration:none;
	text-align:left;
}

/** Koniec CLASS */

div#header > p.in-development {
	float:right;
	margin-top:10px;
	margin-right:5px;
}

hr {
	border:0px solid #ccc;
}

div.dialog.profile {
  position:absolute;
  min-width:400px;
  min-height:250px;
  border:2px solid #000000;
  font-family:"Comic Sans MS";
  background-color:#fff;
  float:center;
  left:calc(50% - 200px);
}

div.dialog.profile h3 {
  text-align:center;
  font-family:"Comic Sans MS";
}

div.dialog.profile img {
	border:1px solid #000000;
	float:left;
	margin-right:10px;
	margin-left:10px;
	width:130px;
	height:150px;
}