/* CSS Document */  
body {  
    font-size:15px;  
    color: #222;  
    text-align:center;
	background: #106CB5;
	font-family:"Comic Sans MS";
    padding:35px; }  
form, p, span {  
    margin:0;  
    padding:0; }  
input { font-size:15px; font-family:"Comic Sans MS"; border-radius: 5px; padding: 5px; border: 2px solid #106cb5;}  
a {  
    color:#0000FF;  
    text-decoration:none; }  
    a:hover { text-decoration: none; }  
#wrapper, #loginform {  
    margin:0 auto;  
    padding-bottom:25px;  
    background:#8CB8DC;  
    width:100%;
	color: #FFF;
    border:2px solid #FFF; 
	border-radius: 5px; }  
#loginform { padding-top:18px; }  
    #loginform p { margin: 5px; }  
#chatbox {  
    text-align: left;  
    margin: 0 auto;  
    margin-top: 25px;  
    padding: 10px;
	color: #000;
    background: #fff;  
    height: 100%;
    width: 95%;  
    border: 2px solid #106cb5;
	border-radius: 5px;
    overflow: auto; }
#usermsg {  
    width: 88%;  
    border: 3px solid #106cb5; 
	border-radius: 5px; 
	padding: 5px; } 
#submit { width: 60px; }  
.error { color: #ff0000; }  
#submitmsg { background: #5999cc; color: #FFF; padding: 5px; border-radius: 5px; border: 2px solid #FFF; cursor: pointer;}
#submitmsg:hover { background: #106cb5; color: #fff; padding: 5px; border-radius: 5px; border: 2px solid #FFF; cursor: pointer; }
#menu { padding: 12.5px 11px 12.5px 11px; }  
.welcome { float: left; }  
.logout { float: right; }  
.msgln { margin: 0 0 2px 0; }
#delete { background: #d44d4d; color: #FFF; padding: 5px; border-radius: 5px; border: 2px solid #FFF; cursor: pointer; }
#delete:hover { background: #c00000; color: #FFF; padding: 5px; border-radius: 5px; border: 2px solid #FFF; cursor: pointer; }
#enter { background: #5999cc; color: #FFF; padding: 5px; border-radius: 5px; border: 2px solid #FFF; cursor: pointer;}
#enter:hover { background: #106cb5; color: #fff; padding: 5px; border-radius: 5px; border: 2px solid #FFF; cursor: pointer; }
#exit { background: #d44d4d; color: #FFF; padding: 5px; border-radius: 5px; border: 2px solid #FFF; cursor: pointer; }
#exit:hover { background: #c00000; color: #FFF; padding: 5px; border-radius: 5px; border: 2px solid #FFF; cursor: pointer; }