/google*.html
log.*
*.log
*.cache
*-OLD
*.OLD

# ignore archives
*.zip
*.rar

images/upload
.ftp
.db.cfg

## Liquibase is a database schema migration tool
# see http://www.sitepoint.com/versioning-your-database-with-liquibase/
liquibase.properties
!liquibase/

## githelp.txt is WladinQ's help file with useful git commands
# we won't include that one
githelp.txt

