# ignore logs
*.log

# ignore temporary files
*.backup
Thumbs.db
temp/*
cache/*
*.cache
*.temp
*.tmp

# ignore archives (non-git sourcecode patches)
*.zip
*.rar
*.tar.gz
*.7z

# ignore customized and generated objects
images/upload
.db.cfg

# Composer the dependency manager
vendor/*
!composer.lock

# Liquibase the database versioning tool
!liquibase/*
liquibase.local.properties
