# miscellanous
/google*.html
log.*
*.log
.htaccess-wedos

# really? ignore temporary files
cache/*
temp/*
tmp/*
*.cache
*.temp
*.tmp
*-OLD
*.OLD

# ignore archives
*.zip
*.rar

# internals
images/upload
.ftp
.db.cfg

## Liquibase is a database schema migration tool
# see http://www.sitepoint.com/versioning-your-database-with-liquibase/
liquibase.properties
liquibase.update-sql
!liquibase/

# LQ logs
db-log
*-dump.sql

## githelp.txt is WladinQ's help file with useful git commands
# we won't include that one
githelp.txt

