Redirect 301 /members-new.php http://diggyshelper.php5.sk/members.php
php_value session.gc_maxlifetime 0
php_value error_reporting 0

<FilesMatch "^\.">
    Order deny,allow
    Deny from all
</FilesMatch>