
@charset "UTF-8";
@import "http://fonts.googleapis.com/css?family=Andika&subset=latin,latin-ext";

/**
 * This stylesheet is originally made for dh-forum website.
 * Nobody may reuse or redistribute it.
 *
 * @author   WladinQ <vladimir.jacko.ml@gmail.com>
 * @copyright 2013-2014 dh-forum workgroup
 *
 * Little but important edits to this file also made Kubo2.
 *
 * For more information on dh-forum workgroup, please read
 * the article at {@link http://diggyshelper.net/authors.php}.
 *
 * Please note that this stylesheet does not carry about backwards
 * compatibility in most old browsers including old versions
 * of Opera Browser, Microsoft Internet Explorer or Netscape
 * Navigator, because our target group is not supposed to use
 * some of these browser. If it will show they does, backwards
 * compatibility will quickly be made.
 *
 */

body {
	margin: 0;
	font-family: Andika, "Times New Roman";
}

/**
 * General.
 */
 /* headings */
 h1:not(.no-center) {
 	width: 100%;
 	text-align: center;
 }

  /* backwards compatibility */
 h1.no-center {
 	width: inherit;
 	text-align: initial;
 }

 /* paragraphs */
 p {
 	max-width: 92%;
 	margin: auto;
 }

  table p, form p {
  	max-width: 100%;
  }

/**
 * Universal.
 */
 /* buttons */
[class*='button'] {
	color: #fff;
	text-decoration:none;
	font-family: "Andika", "Times New Roman";
	border-radius:5px;
	cursor:pointer;
}

[class*='button']:hover {
	color: #fff;
	text-decoration:none;
	font-family: "Andika", "Times New Roman";
	border-radius:5px;
	font-size:14px;
	cursor:pointer;
}

.input_button {
	background:#5999cc;
	border:2px #5999cc solid;
	cursor:pointer;
	font-size:14px;
	margin: 4px 0 0 0;
}

.input_button:hover {
	background-color:#106cb5;
	border:2px #106cb5 solid;
}

.button {
	background:#5999cc;
	border:2px #5999cc solid;
	font-size:14px;
	padding-left:4px;
	padding-right:4px;
}

.button:hover {
	background-color:#106cb5;
	border:2px #106cb5 solid;
}

.button_register {
	background:#71dc4d;
	border:2px #71dc4d solid;
	font-size:14px;
	padding-left:4px;
	padding-right:4px;
}

.button_register:hover {
	background-color:#33cc00;
	border:2px #33cc00 solid;
}

.button_logout {
	background:#d44d4d;
	border:2px #d44d4d solid;
	font-size:14px;
	padding-left:4px;
	padding-right:4px;
}

.button_logout:hover {
	background-color:#c00000;
	border:2px #c00000 solid;
}

.setting {
	background: #FF954D; /* 70% opacity */
	border: 2px #FF954D solid;
	font-size: 14px;
	padding-left: 4px;
	padding-right: 4px;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
}

.setting:hover {
	background-color: #FF6600;
	border: 2px #FF6600 solid;
	font-size: 14px;
	padding-left: 4px;
	padding-right: 4px;
	color: #fff;
	text-decoration: none;
}

/** Koniec universal. */
/** ID */

#sutaz {
	position: fixed;
	right: 0;
	top: 50%;
	width: auto;
	margin: -2.5em 0 0 0;
	margin-top: -2.5em;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background: rgba(255, 0, 0, 0.5);
	color: #fff;
	_display: none;
	padding: 0.5em 0.5em 0.5em 0.5em;
	box-shadow: 0 1px 3px black;
}

#sutaz strong {
	text-align:center;
}

#zaujimavosti {
	width:auto;
	margin-right:5px;
	margin-left:5px;
	margin-bottom:5px;
	margin-top:0px;
	border:2px #106cb5 solid;
	border-radius:5px;
	padding:5px;
	font-family: "Andika", "Times New Roman";
}

#zaujimavosti table {
	width:100%;
	color:#000;
}

#zaujimavosti table tr td {
	text-align:center;
	font-size:15px;
	background:#5999cc;
	color:#fff;
}

#loginprovizor {
	background: #8CB8DC;
	height: 126px;
	min-width: 332px;
	width: auto;
	float: right;
	font-size: 14px;
	border-radius: 5px;
	margin-right: 5px;
	margin-top: 5px;
	padding:7px;
	color:#fff;
}

#loginprovizor label input[type=checkbox] {
	background-color: #FFF;
	border:2px #106cb5 solid;
}

#loginprovizor img[type=userimages] {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 7px;
	height: 85px;
	width: 85px;
	border-radius: 5px;
	border: 2px #5999cc solid;
}

#loginprovizor img[type=userbuttons] {
	width: 15px;
	height: 15px;
	border:0px solid #fff;
	position: relative;
	top: 2px;
}

#loginprovizor img[type=adminmoderatorbuttons] {
	width: 30px;
	height: 15px;
	border:0px solid #fff;
	position: relative;
	top: 2px;
}

#loginprovizor hr {
	border: 1px #5999cc solid;
	border-radius: 2px;
}

#provizorne {
	color: #fff;
	background: grey;
	font-size: 90%;
	height: auto;
	width: 95%;
	margin: 0 auto 23px;
	text-align: left;
	padding: 5px;
	display: none;
	border-radius: 5px;
}

#provizorne p:first-child {
	margin-top: 0px;
}

#provizorne p:last-child {
	margin-bottom: 0px;
}

#provizorne.warning {
	background: red;
}

#provizorne.notice {
	background: ligthgreen;
}

#pages {
	width:auto;
	margin-right:5px;
	margin-left:5px;
	margin-bottom:5px;
	margin-top:0px;
	border:2px #106cb5 solid;
	border-radius:5px;
	padding:5px;
	font-family: "Andika", "Times New Roman";
}

#coako {
	width:auto;
	margin-right:5px;
	margin-left:5px;
	margin-bottom:5px;
	margin-top:0px;
	border:2px #106cb5 solid;
	border-radius:5px;
	padding:5px;
	font-family: "Andika", "Times New Roman";
}

#coako h3 {
   margin-bottom: 7px;
   background: #106cb5;
	color:#fff;
   border-bottom: 1px solid #ddd;
   padding: 0 10px;
}

#pages table tr td {
	text-align:center;
}

#coako .playgamepp {
	background:#f54e07;
	color:#fff;
	text-decoration:none;
	border:1px solid #d64000;
	padding:5px;
	border-radius:5px;
}

#coako .playgamefb {
	background:#eaeaea;
	color:#000;
	text-decoration:none;
	border:1px solid #dddddd;
	padding:5px;
	border-radius:5px;
}

#menu {
	background: #33cc00;
	color: #fff;
	font-family: "Andika", "Times New Roman";
	padding: 5px;
	height: 26px;
	text-align: center;
	width: auto;
}

#menu a {
	text-decoration: none;
	color: #fff;
	padding: 2px;
	margin: 7px;
	margin: 0.4375em
}

#menu a:hover {
	background: #71dc4d;
	border-radius: 5px;
	color: #fff;
}

@media (max-width: 845px) {
	#menu {
		height: auto;
		height: initial;
		background-image: url(../images/icon/mmenu.png);
		background-repeat: no-repeat;
		background-position: right top;

		/* completely   unuseful - but great extension. */
		cursor: hand !important; /* i dont really know IE - an instead of exploring, i am letting this hack*/
		cursor: pointer;
	}

	#menu:focus {
		background-image: none;
	}

	#menu a {
		display: block;
		visibility: hidden;
		overflow: hidden;
		height: 0;
		margin: 0;
	}

	#menu:focus a {
		visibility: visible;
		height: auto;
	}
}

#menuleft {
	float: left;
	margin-left: 5px;
}

#menuright {
	float: right;
	margin-right: 5px;
}

#header {
	height:150px;
	width:auto;
	background:#106cb5 url(../images/bg/logo.png) no-repeat;
}

#header h1 {
	font-size:25px;
	padding-left:450px;
	padding-top:20px;
	padding-bottom:5px;
	color:#87b5da;
	font-family: "Andika", "Times New Roman";
	cursor:default;
}

#header h2 {
	font-size:15px;
	padding-left:450px;
	color:#87b5da;
	font-family: "Andika", "Times New Roman";
	cursor:default;
}

#forum {
	width:auto;
	margin-right:5px;
	margin-left:5px;
	margin-bottom:5px;
	margin-top:0px;
	border:2px #106cb5 solid;
	border-radius:5px;
	padding:5px;
	font-family: "Andika", "Times New Roman";
}

#content {
	
}

#content table tr td a {
	text-decoration: none;
	cursor: pointer;
}

#content table tr td a:title {
	color: #FFF;
}

#profilelinkfb {
	height: auto;
	text-align: center;
	padding: 5px;
}

#profilelinkfb a img {
	margin: 5px;
}

#upload {
	min-height:400px;
	width:auto;
	overflow:hidden;
	color:#fff;
	font-family: "Andika", "Times New Roman";
	background:#106cb5 url(../images/bg/upload.png) no-repeat;
}

#footer {
	background:#fff url(../images/bg/footer.png) no-repeat;
	background-position:bottom;
	height:150px;
	width:auto;
}

#footer_right {
	float:right;
	width:126px;
	padding-right:10px;
	height:150px;
	background:url(../images/bg/linda.png) no-repeat;
}

#statistiky {
	width:auto;
	margin-right:5px;
	margin-left:5px;
	margin-bottom:5px;
	margin-top:0px;
	border:2px #106cb5 solid;
	border-radius:5px;
	padding:5px;
	color:#000;
	font-family: "Andika", "Times New Roman";
}

#news {
	border-radius:5px;
	border:2px #106cb5 solid;
	margin:10px;
	font-family: "Andika", "Times New Roman";
	padding:5px;
	min-height:20px;
}

#profilinfo {
	background:#fff;
	border:0px;
}

#left {
	float: left;
}

#right {
	float: right;
	margin-right: 5px;
}

/** Koniec ID */
/** CLASS */

.user-profil .user-info table tr td img {
	border: 2px solid #8CB8DC;
	border-radius: 5px;
}

@media (max-width: 43.75em) {
	.user-profil .user-info h1 {
		text-align: center;
		color: transparent;
	}

	.user-profil .user-info h1 > big {
		color: #000;
		float: left;
	}

	.user-profil .user-info table {
		width: 100% !important;
		table-layout: auto !important;
	}

	.user-profil .user-info table tr,
	.user-profil .user-info table td {
		display: block;
	}

	.user-profil .user-info table td {
		width: 100%;
		text-align: center !important;
		display: inline-block;
		=display: inline; /* IE 7 below */
		=zoom: 1; /* switch hasLayout on in IE */
	}

	.user-profil .user-info table td.odd,
	.user-profil .user-info table td.even {
		color: white;
		opacity: 0.8;
	}

	.user-profil .user-info table td.odd {
		background: #106cb5;
	}

	.user-profil .user-info table td.even {
		font-weight: bold;
		background: #33cc00;
	}
}


.hbox {
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.imgbox {
    border: 1px solid #eee;
    padding: 10px;
	width:auto;
    margin-bottom: 10px;
    background: #f3fbff;

    /* radius vendors (backward) */
    -webkit-border-radius:	10px;
    -moz-border-radius:	10px;
    -ms-border-radius:	10px;
    -o-border-radius:		10px;

    /* radius forward */
    border-radius:			10px;
}

.memberusers {
	color:#5999cc;
	text-decoration:none;
}

.memberusers:hover {
	color:#106cb5;
	text-decoration:none;
}

.box {
	background:#87b5da;
	color:#fff;
	padding:10px;
	border-radius:5px;
	border:0px;
	margin:10px 0px;
	text-decoration:none;
}

.box:hover {
	background:#106cb5;
	color:#fff;
	padding:10px;
	border-radius:5px;
	border:0px;
	margin:10px 0px;
	text-decoration:none;
}

.naj {
	text-decoration:none;
	color:#000;
}

.jazykon {
	padding:2px;
	background:#71dc4d;
	border-radius:5px;
	color:#fff;
	margin-left:150px;
}

.jazykoff {
	padding:2px;
	background:#71dc4d;
	border-radius:5px;
	float:right;
	color:#fff;
}

.topic {
	text-decoration:none;
	color:#000;
}

.input {
	padding:5px;
	padding-left:5px;
	border:2px #106cb5 solid;
	border-radius: 5px;
	margin: 0 0 7px 0;
}

.right, .left {
	padding: 5px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.cat_links {
	display: block;
	padding:5px;
	padding-top:10px;
	padding-bottom:10px;
	border:0px solid #000;
	margin-bottom:5px;
	background-color:#5999cc;
	border-radius:5px;
	color:#fff;
	text-decoration:none;
	text-align:left;
}

.cat_links:hover {
	background-color:#106cb5;
	text-decoration:none;
	text-align:left;
}

.clear {
	clear: both;
}

/** Koniec CLASS */

div#header > p.in-development {
	float:right;
	margin-top:10px;
	margin-right:5px;
}

hr {
	border: 0 solid #ccc;
}

div.dialog.profile {
  position:absolute;
  min-width:400px;
  min-height:250px;
  border:2px solid #000000;
  font-family: "Andika", "Times New Roman";
  background-color:#fff;
  float:center;
  left:calc(50% - 200px);
}

div.dialog.profile h3 {
  text-align:center;
  font-family: "Andika", "Times New Roman";
}

div.dialog.profile img {
	border:1px solid #000000;
	float:left;
	margin-right:10px;
	margin-left:10px;
	width:130px;
	height:150px;
}

/* for general use */
.notice, .success, .error {
	font-weight: bold;
}

.success {
	color: rgb(25, 192, 18);
}

.notice {
	color: grey;
}

.warning {
	color: rgb(230, 45, 20);
}

.error {
	color: red;
}