@charset "UTF-8";
@import "http://fonts.googleapis.com/css?family=Andika&subset=latin,latin-ext";
@namespace url('http://www.sitemaps.org/schemas/sitemap/0.9');

sitemapindex, urlset {
	width: 70% !important;
	min-width: 70% !important;
	margin: 0 auto;
	font-family: Andika, Tahoma, Arial;
}

/** table elements */
urlset {
	display: table;
	min-width: 100%;
	border-bottom: 2px dashed silver;
}

sitemap, url {
	display: table-row;
}

loc, priority, lastmod, changefreq {
	display: table-cell;
	border-top: 2px solid gold;
}
